## Hypothesis Testing Exercise : 

## 2)  A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
 ## Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [1]:
import pandas as pd
import scipy.stats as stats

In [2]:
lab_data = pd.read_csv("LabTAT.csv")

In [3]:
lab_data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [4]:
lab_data.mean()

Laboratory 1    178.361583
Laboratory 2    178.902917
Laboratory 3    199.913250
Laboratory 4    163.682750
dtype: float64

In [7]:
# Anova ftest statistics: stats.f_oneway(column-1,column-2,column-3,column-4)
stats.f_oneway(lab_data['Laboratory 1'],lab_data['Laboratory 2'],lab_data['Laboratory 3'],lab_data['Laboratory 4'])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

# P_Value = 2.1156708949992414e-57 , that is nearly equals to 0.

# HYPOTHESIS FORMULATION:

# H0: There is no difference in average Turn Around Time (TAT) among the different laboratories.

# Ha: There is a difference in average Turn Around Time (TAT) among the different laboratories.


# Level of significance : 5%. (0.05)

# Since the p_value is  2.1156708949992414e-57 , that is nearly equals to 0 and it is way lesser than the level of significance (p_value < LOS)

# so, we reject the Null Hypothesis (H0).


# Observation -  There is a difference in average Turn Around Time (TAT) among the different laboratories.